<!doctype html>
<html>
<head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
    <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= data.baseUrl %>/css/app.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
    <!--<script src="//cdn.quilljs.com/1.0.0/quill.js"></script>-->
    <script src="<%= data.baseUrl %>/js/script.js"></script>
    <!--<link href="quill.snow.css" rel="stylesheet">-->

    <link rel="shortcut icon" href="about:blank">
</head>