<% include partials/header.ejs %>
<body>

<% include partials/nav.ejs %>
<% if ( flashFailure.length > 0 ) { %>
<div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
        Something's wrong.
    </div>
    <p>
        <%= flashFailure %>
    </p>
</div>
<% } %>



<% include partials/footer.ejs %>
<% include partials/scripts.ejs %>
</body>
</html>