body {
    margin: 3% auto;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    /*background: url(/images/xmas1.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    color: white;
    background: #043f49; /* For browsers that do not support gradients */
}

html {
    margin: 0 auto;
}
